<footer class="footer">
    <div class="footer-container">
        <div class="footer-col logo-col">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Sofi" class="footer-logo">
            <p>Un servicio diferente...<br>En Hospedaje Sofi ofrecemos comodidad, limpieza y atención personalizada para que tu estadía sea única e inolvidable.</p>
        </div>

        <div class="footer-col">
            <h4>SOBRE NOSOTROS</h4>
            <ul>
                <li><a href="{{ url_for('inicio.nosotros') }}">Nosotros</a></li>
                <li><a href="#">Información Legal</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>CENTRO DE AYUDA</h4>
            <ul>
                <li><a href="{{ url_for('inicio.habitaciones') }}">Buscar una Habitación</a></li>
                <li><a href="#">¿Cómo ser Anfitrión?</a></li>
                <li><a href="#">¿Porqué Elegirnos?</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Guías de Alquiler</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>INFORMACIÓN DE CONTACTO</h4>
            <p>Teléfono: +51 938996477</p>
            <p>Email: marcopolo_877@hotmail.com</p>
            <p>Dirección: Calle Ramón Castilla 6ta. cdra. Caballococha, Loreto, Perú</p>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2026 Grupo Lab 3 | Todos los derechos reservados</p>
        <p>Creado por : Reizo, Edson , Gino</p>
    </div>
</footer>
